.sales-card-container {
    padding: 50px 10px 50px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.sales-card-container h1 {
    font-size: 36px;
    color : #334AC3;
}
.sales-card-container span {
    font-weight: 400;
    font-size: 18px;
    color : #8D8D8D
}

